<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Gist Bot</title>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
</head>

<body>
    <ons-page>
        <div id="content">
            <div class="toolbar toolbar--material" style="box-shadow: none; border-bottom: black;">
                <div class="toolbar__center toolbar--material__center">
                    Tambah Poin
                </div>
            </div>

            <div style="background-color: white; margin-top: 20px; margin-bottom: 20px; padding-bottom: 20px;">
                <div style="width: 95%; margin: 0 auto;">
                    <br>
                    <span>
                        <div>
                            <input type="text" class="text-input text-input--underbar" placeholder="Nama"
                                style="width: 100%; padding-left: 5px;">
                        </div>
                        <br />
                        <div>
                            <textarea class="textarea" rows="3" placeholder="Detail"
                                style="width: 100%; background-color: white;"></textarea>
                            <!-- <input class="text-input text-input--material" placeholder="detail point" type="text" required> -->
                        </div>
                    </span>
                    <!-- <p id="msg"></p> -->
                </div>
            </div>
            <div class="bottom-bar">
                <div class="bottom-bar__line-height" style="text-align:center">
                    <button class="button button--material" style="width: 95%; margin: 0 auto;">BUTTON</button>
                </div>
            </div>
            <!-- <button class="button button--material" onclick="closeWebview()">submit</button> -->
            <!-- <span>
                <div>
                    <button class="button--large--cta" style="width: 95%; margin: 0 auto;"
                        onclick="closeWebview()">Button</button>
                </div>
            </span> -->
        </div>
    </ons-page>
    <script>

        const contentEl = document.getElementById("content")
        contentEl.style.display = "none"

        let msg = "";
        window.extAsyncInit = function () {
            contentEl.style.display = "block"
            // the Messenger Extensions JS SDK is done loading

            // MessengerExtensions.getUserID(function success(uids) {
            //     console.log(thread_context)
            //     document.getElementById("msg").innerText = "succes"
            // }, function error(err) {
            //     document.getElementById("msg").innerText = err
            // });

            MessengerExtensions.getContext('806064523477703',
                function success(thread_context) {
                    // success
                    console.log(thread_context)
                    document.getElementById("msg").innerText = "succes"
                },
                function error(err) {
                    // error
                    document.getElementById("msg").innerText = err
                }
            );
        };
        (function (doc, script, domId) {
            var js, fjs = doc.getElementsByTagName(script)[0];
            if (doc.getElementById(domId)) { return; }
            js = doc.createElement(script);
            js.id = domId;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));


        function closeWebview() {
            MessengerExtensions.requestCloseBrowser(function success() {
                // webview closed
                console.log("closed")
            }, function error(err) {
                // an error occurred
                msgEl.innerText += "errror closed " + err
                console.log(err)
            });
        }

        // (function (d, s, id) {
        //     var js, fjs = d.getElementsByTagName(s)[0];
        //     if (d.getElementById(id)) { return; }
        //     js = d.createElement(s); js.id = id;
        //     js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        //     fjs.parentNode.insertBefore(js, fjs);
        // }(document, 'script', 'Messenger'));


        // window.extAsyncInit = function () {
        //     // the Messenger Extensions JS SDK is done loading 
        //     console.log("the Messenger Extensions JS SDK is done loading ")

        //     let msgEl = document.getElementById("msg")
        //     msg = "the Messenger Extensions JS SDK is done loading "
        //     msgEl.innerText = msg
        //     MessengerExtensions.getContext('806064523477703',
        //         function success(thread_context) {
        //             // success
        //             msgEl.innerText += JSON.stringify(thread_context)
        //             console.log(thread_context)
        //         },
        //         function error(err) {
        //             // error
        //             msgEl.innerText += "errror contect " + err
        //             console.log(err)
        //         }
        //     );

        //    
        // };

    </script>

</body>

</html>